<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/iaicon.jpg" type="image/x-icon">
    <title>CV-IA</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="contenedor">
        <ul class="barraMenu">
            <li class="menu">
                <a href="/">Portada</a>
            </li>
            <li class="menu">
                <a href="/descripcion">Descripcion</a>
            </li>
            <li class="menu">
                <a href="/experiencia">Experiencia</a>
            </li>
            <li class="menu">
                <a href="/estudios">Estudios</a>
            </li>
            <li class="menu">
                <a href="/aptitudes">Aptitudes</a>
            </li>
            <li class="menu">
                <a href="/contacto">Contacto</a>
            </li>
        </ul>
        <main>
            <div class="principal">
                <h1>Estudios Realizados</h1>
                <div class="textos">
                <ul>
                    <li>
                        Curso Programador Fullstack en Casa Bictia <br>
                        Tiempo: Nov/2019 - Actual
                    </li>
                    <li>
                        Fundamentos de Programacion - FrontEnd en Casa Bictia <br>
                        Tiempo: Mar/2019 - Oct/2019
                    </li>
                    <li>
                        Programa de Emprendimiento PEMP - Universidad de los Andes <br>
                        Tiempo: Jun/2018 - Feb/2019
                    </li>
                    <li>
                        Gerencia de Proyectos - PMP - Politecnico Gran Colombiano <br>
                        Tiempo: 2015 - 2016
                    </li>
                    <li>
                        Master in Business Administration - MBA - Universidad de los Andes 
                        Tiempo: 2007 - 2008
                    </li>
                    <li>
                        Ingeniero Industrial - Universidad de los Andes 
                        Tiempo: 2002 - 2007
                    </li>
                </ul>
                </div>
            </div>
        </main>
    </div>
</body>
</html>