<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/iaicon.jpg" type="image/x-icon">
    <title>CV-IA</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="contenedor">
        <ul class="barraMenu">
            <li class="menu">
                <a href="/">Portada</a>
            </li>
            <li class="menu">
                <a href="/descripcion">Descripcion</a>
            </li>
            <li class="menu">
                <a href="/experiencia">Experiencia</a>
            </li>
            <li class="menu">
                <a href="/estudios">Estudios</a>
            </li>
            <li class="menu">
                <a href="/aptitudes">Aptitudes</a>
            </li>
            <li class="menu">
                <a href="/contacto">Contacto</a>
            </li>
        </ul>
        <main>
            <div class="principal">
                <h1>Experiencia Laboral</h1>
                <BR></BR> <BR></BR>
                <div class="textos">
                    <ul>
                        <li>
                        Gerente General de IA comercializadora de vehiculos usados <br>
                        Tiempo: 2015 - Actual
                        </li>
                        <li>
                        Gerente de ventas de Autobrokers <br>
                        Tiempo: 2013 - 2015
                        </li>
                        <li>
                        Ing. Proyectos en Grupo Universal <br>
                        Tiempo: 2009 - 2013
                        </li>
                        <li>
                        Ing. Industrial Jr. en Amarilo Constructora <br>
                        Tiempo: 2007 - 2009
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</body>
</html>